<h1>Rendering book</h1>

<div class="row-fluid">
  <div class="span4">
    <li>
      <h4><%= link_to book.name, book %></h4>

      <p><%= link_to image_tag(book.picture_url,  width: "150", height: "250"), book %></p>
      <p>Price: <%= number_to_currency(book.price) %></p>
      <%= link_to "View details »", book, :class => "btn btn-info" %>
      <% if signed_in? %>
        <%= link_to "Add to cart", cart_items_path(:product_id => book), :method => :post, :class => "btn btn-success" %>
      <% else %>
        <% session[:return_to] = request.env['REQUEST_PATH'] %>
        <%= link_to "Add to cart", signin_path, :class => "btn btn-success" %>
      <% end %>

    </li>
  </div>

  <div class="span8">
    <li>
        <p><b>Author: </b><%= book.name %></p>
        <p><b>Pages: </b><%= book.pages %></p>
      <p><b>Description: </b><%= book.description %></p>
    </li>
  </div>
</div>
