  <div class="row-fluid">
    <div class="span4">
      <li>
        <h4><%= @product.name %></h4>

        <p><%= image_tag(@product.picture_url,  width: "150", height: "250") %></p>
        <p>Price: $<%= sprintf("%.2f", @product.price) %></p>
        <%= link_to "Add to cart", '#', :class => "btn btn-success" %>
      </li>
    </div>

    <div class="span8">
      <p><b>Description: </b><%= @product.description %></p>
    </div>
  </div>
